<div class="container rounded border border-secondary">
  <div class="row justify-content-center">
    <div class="col">{{ categoryTitle() }}</div>
    <div class="col-auto me-2">
      <button class="unstyled-button">
        <i class="fa-solid fa-ellipsis"></i>
      </button>
    </div>
    <mat-divider
      class="ms-auto me-auto mt-2 rounded text-secondary"
    ></mat-divider>
  </div>
  @for (task of tasks; track task) {
    <div class="row justify-content-center">
      <div class="col-auto mt-3 ms-auto me-auto task rounded text-center">
        <span>{{ task.title }}</span>
        <button class="unstyled-button ms-1" (click)="openUpdateModal(task)">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
        <button class="unstyled-button ms-1" (click)="deleteTask(task)">
          <i class="fa-regular fa-trash-can"></i>
        </button>
      </div>
    </div>
  }
  <div class="row justify-content-center">
    <div class="col-auto mt-3 ms-auto me-auto add rounded text-center">
      <button class="unstyled-button w-100" (click)="openAddModal()">
        <i class="fa-solid fa-circle-plus"></i> Add new task
      </button>
    </div>
  </div>
</div>
