<div class="container rounded border border-secondary">
  <div class="row">
    <div class="col">{{ categoryTitle() }}</div>
    <div class="col-auto me-2">
      <button class="unstyled-button">
        <i class="fa-solid fa-ellipsis"></i>
      </button>
    </div>
    <mat-divider
      class="ms-auto me-auto mt-2 rounded text-secondary"
    ></mat-divider>
  </div>
  <div class="row">
    <div class="col-auto mt-3 ms-auto me-auto add rounded">
      <button class="unstyled-button w-100">
        <i class="fa-solid fa-circle-plus"></i> Add task
      </button>
    </div>
  </div>
</div>
