<div class="modal-header">
  @if (!this.editTitle()) {
    <h4 class="modal-title">
      {{ title() }}
      <button
        class="unstyled-button"
        title="edit title"
        (click)="toggleEditTitle()"
      >
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
    </h4>
  } @else {
    <input type="text" class="input-h4" [(ngModel)]="title" />
    <button
      class="unstyled-button"
      title="edit title"
      (click)="toggleEditTitle()"
    >
      <i class="ms-1 fa-solid fa-check"></i>
    </button>
  }
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<h5 class="ms-3 mt-2"><i class="fa-solid fa-pencil"></i> Description</h5>
<div class="me-auto ms-auto">
  <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>
        Editor <i class="fa-regular fa-pen-to-square"></i>
      </button>
      <ng-template ngbNavContent>
        <textarea
          class="d-block w-75 rounded mt-2 ms-auto me-auto"
          style="height: 300px; resize: none"
          [(ngModel)]="markdownContent"
        ></textarea>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Preview <i class="fa-solid fa-eye"></i></button>
      <ng-template ngbNavContent>
        <markdown
          class="d-block w-75 rounded mt-2 ms-auto me-auto"
          [data]="markdownContent()"
        ></markdown>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2 pb-2"></div>
  @if (taskList().length == 0) {
    <div class="col-auto mt-3 ms-auto rounded">
      <button class="unstyled-button w-100" (click)="addChecklistItem()">
        <i class="fa-solid fa-circle-plus"></i> Add checklist
      </button>
    </div>
  } @else {
    <h5 class="ms-3"><i class="fa-regular fa-square-check"></i> Checklist</h5>
    @for (check of taskList(); track check) {
      <div
        class="text-black text-center d-flex align-items-center justify-content-start pb-1 ms-4"
      >
        <input
          type="checkbox"
          class="form-check-input me-2 align-self-center"
          [(ngModel)]="check.completed"
        />
        @if (check.mode == guiMode.edit) {
          <div class="input-group check-input">
            <input
              type="text"
              class="form-control align-self-center"
              [(ngModel)]="check.value"
            />
            <button class="unstyled-button ms-1" (click)="changeMode(check)">
              <i class="ms-1 fa-solid fa-check"></i>
            </button>
          </div>
        } @else {
          <label
            [ngClass]="check.completed ? 'text-decoration-line-through' : ''"
            class="form-check-label ms-2"
            >{{ check.value }}</label
          >
          <button class="unstyled-button ms-1" (click)="changeMode(check)">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        }
        <button
          class="unstyled-button ms-1"
          (click)="removeChecklistItem(check)"
        >
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    }
    <div class="text-black-50 text-center add-item-text">
      <button class="unstyled-button" (click)="addChecklistItem()">
        <i class="fa-solid fa-plus"></i> Add item...
      </button>
    </div>
  }
  <button
    type="button"
    class="btn btn-outline-primary ms-2 mb-2"
    (click)="updateTask()"
  >
    Save
  </button>
</div>
